/*=============================
    GENERAL STYLE
=============================*/
body{
    background-color:lightblue;
}


h3{
    text-align: center;
}

#bold {
    font-weight: bold;
}

#logo {
    border: 2px dashed red;  
    width: 600px;
    height: 300px; 
}