@media screen and (max-width:600px) {
.poem{
        color: blue;
    }
}

.photo-container{
    height: 160px;
    width: 300px;

    margin: 0 auto;

    position: relative;
    overflow: hidden;
    border-radius: 12px;
    margin-top: 60px;
    box-shadow: -1px -1px 1px 0 rgba(235, 228, 36, 0.1), 1px 2px 10px 0 rgba(164, 185, 66, 0.5);
}

.center{
    text-align: center;
    margin: 0% auto;
}

.underline {
    text-decoration: underline;
}
.photo-container img {
    max-width: 100%;
    width: 100%;
    border-radius: 12px;   
    filter:hue-rotate(130deg);
    padding: 1px;
    
}

.photo-overlay {
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0,0,0,0.3);
    font-family: papyrus, Arial, Helvetica, sans-serif;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#photo-overlay-2 {
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(123, 123, 123, 0.1);
    font-family: papyrus, Arial, Helvetica, sans-serif;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
    border-radius: 10px;
    cursor: pointer;
}
    /*===========
    PHOTO ANIMATION
    ============*/
    .photo-overlay {
        opacity: 0;
        transition: opacity 1s;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .photo-overlay:hover {
        opacity: 1;
    }
    #photo-overlay-2:hover {
        opacity: 1;
    }
  
    
    .photo img {
        transition: transform .5s;
        transform-origin: 50% 50%;
    }
    
    .photo:hover img {
        transform: scale(1.1)
    }
/*=========================
    General Styles
==========================*/

body{
    background-color: rgb(209, 233, 253);
}
footer{
    position: fixed;
    margin: 0 auto;
    bottom: 0px;
    width: 100%;
    padding: 0%;
    left: 0;
    font-weight: bold;
    color:  rgb(0, 4, 121);
    background: linear-gradient(#7bd1f8, #77ee81);
}

/*=========================
    Navbar
==========================*/
nav{
    overflow: hidden;
    background:linear-gradient(#7bd1f8, #77ee819c);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

nav a {
    float:left;
    display:block;
    color: rgb(13, 118, 230);
    text-align: center;
    padding: 14px 16px;
    text-decoration: wheat;
    font-size: 18px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    
}

nav a:hover {
    background: rgb(97, 39, 214);
    color: rgb(255, 255, 255);
  }
  
/*=========================
    Table
==========================*/

table {
    position: relative;
    border: 7px dotted rgb(0, 4, 121);
    width: 100%;
    margin-top: 35px;
    margin-bottom: 30px;
    left: 0px;
    right: 0px;
    padding: 2px;
}
   

 th {
    background-color: rgb(203, 253, 255);
    text-align: center;
    color: crimson;
    border: 1px solid black;
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 1px 1px 2px rgb(92, 92, 92);
}

td {
    border: 1px solid black;
    text-align: left;
    background-color: rgb(245, 245, 245);
    padding-left: 6px;
}

#pros{
    color: rgb(0, 89, 255);
}

.row {
    display: flex;
    margin-top: 20px;
    position: relative;
    border: 3px solid rgba(36, 0, 55, 0.59);
    margin-bottom: 70px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .column {
    flex: 50%;
    border: 1px solid black;
    background-color: rgb(162, 255, 255);
    height: auto;
    text-align: center;
    position:static;
  }
  .column h2 {
      color: darkmagenta;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.439);
  }

 .column .history:hover{
      color:blueviolet
  }

  .video-container{
      display: flex;
      align-items: center;
      height: 167px;
      width: 100%;
      margin: 0 auto;
      padding-top: 50px;
      text-align: center;
      position: relative;
    ;
  }
  .column video{
      height: 100%;
      margin: 0 auto;
      width: auto;
      
  }
  
  .video-overlay {
    color: white;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.1);
    font-family: papyrus, Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: auto;
}

    /*===========
    Video ANIMATION
    ============*/.video-overlay {
        opacity: 0;
        transition: opacity 1s;
        border-radius: 10px;
        cursor: pointer;
    }

.video-overlay:hover {
        opacity: 1;
    }
    
.video-container video {
        transition: transform .5s;
        transform-origin: 50% 50%;
    }
    
    /*===========
    Poem
    ============*/

.poem-container{
        display: block;
        height:auto;
        width: 340px;
    }

.photo-container-lg {
        position:relative;  
        height:auto;
        width: 92%;
        margin: 8px auto;
        margin-top: 60px;
        border-radius: 5px;
        overflow: hidden;
        display: block;
    }

.photo-container-lg img{
    max-width: 100%;
    width: 100%;
    height: auto
} 