/*===============================
    MENU SELECTION ANIMATION
================================*/
.menu { 
    color:rgb(145, 145, 145);
    font: bold 12px/18px sans-serif;
    text-align: right;
    display: inline;
    margin: 200;
    padding: 0;
    list-style: none;
    text-decoration: none;
   
}

.menu li {
    color: rgb(218, 181, 32);
    background-color: rgba(123, 74, 11, 0.85);
    text-shadow: .5px .5px 2.5px rgba(0,0,0,0.5);
    display: inline-block;
    margin: 0;
    position: relative;
    padding: 15px 4%;
    border: 1px solid #aa720ba8;
    box-shadow: 2px 2px 8px 2px 0 rgba(0,0,0,0.5);
    border-radius:1px;
    cursor: pointer;
    transition-property: background;
    transition-duration: .4s;
    transition-delay:0s;
    transition-timing-function: ease-in-out;
}

.menu li:hover {
    color: rgb(248, 228, 115);
    background-color: rgba(61, 40, 1, 0.775);
}

/*====================================
    GALLERY SECTION ANIMATIONS
====================================*/

.photo {
    position: relative;
    line-height: 0;
    margin-bottom: 2cm;
    overflow: hidden;
    border-radius: 6px;
    padding: 1px;
    border: 1px solid #024264;
    background-color: rgb(160, 160, 160);
    text-shadow: 2px 2px 10px 0 rgba(0,0,0,0.7);
}

.photo-container {
    text-align: center;
    margin: 15px auto;
    width: 300px;
    height: 169px;
    border-radius: 6px;
    box-shadow: -1px -1px 1px 0 rgba(0,0,0,0.1), 1px 2px 10px 0 rgba(0,0,0,0.5);
}

.photo-container img {
    max-width: 100%;
    width: 300px;
    border-radius: 6px;
    height: 169px;
}

.photo-overlay {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}

.white-head {
    color: #c9bdaa;
    margin-top: 5%;
}

/*=======================================
    PHOTO OVERLAY TRANSITION
=======================================*/
.photo-overlay {
    opacity: 0;
    transition: opacity .5s;
    border-radius: 10px;
    cursor: pointer;
}

.photo-overlay:hover {
    opacity: 1;
}

.photo img {
    transition: transform .5s;
    transform-origin: 50% 50%;
}

.photo:hover img {
    transform: scale(1.1)
}
