.linearGradien {
    height: 100%;
    width: 80%;
    background: linear-gradient(to bottom, #66ffcc 0%, #ff99cc 100%);
    border: 6px solid black;
    margin: auto;
    
    border: 3px solid green;
    padding: 10px;
    margin: auto 0;
}
p {
    font-size: 3rem;
    font-weight: 800;
    background: -webkit-linear-gradient( #02246d 0%, #34ddcc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color:  transparent;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #976897;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(144, 232, 122);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 58, 15);
  }

body{
    background-color: rgb(164, 234, 236);
}